<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head', {"css": ["header", "chart", "footer"]})%>
<body>
    <%-include('./partials/header')%>
    <main>
        <div class="superior">
            <h2>Carrito de Compras</h2>
            <a href="#">Vaciar</a>
        </div>

        <div class="article">
            <img src="images/Auto2.png" alt="IMAGEN PRODUCTO">
            
            <div class="title">
                <h3>Titulo</h3>
                <h4>Descripcion</h4>
                <div class="disponible">
                    <i class="fa-regular fa-square-check" style="color: green;"></i>
                </div>
            </div>            
            
            <div class="botonera">
                <i class="fa-regular fa-square-plus" style="color: #000000;"></i>
                <h4>2</h4>
                <i class="fa-regular fa-square-minus" style="color: #000000;"></i>
            </div>

            <div class="precio">
                <div class="precio_Valor">
                    <h3>4.6</h3>

                </div>
                <a href="#">Save for later</a>
                <a href="#">Remove</a>
            </div>
            
        </div>  
        <div class="article">
            <img src="images/Auto2.png" alt="IMAGEN PRODUCTO">
            
            <div class="title">
                <h3>Titulo</h3>
                <h4>Descripcion</h4>
                <div class="disponible">
                    <i class="fa-regular fa-square-check" style="color: green;"></i>
                </div>
            </div>            
            
            <div class="botonera">
                <i class="fa-regular fa-square-plus" style="color: #000000;"></i>
                <h4>2</h4>
                <i class="fa-regular fa-square-minus" style="color: #000000;"></i>
            </div>

            <div class="precio">
                <div class="precio_Valor">
                    <h3>4.6</h3>

                </div>
                <a href="#">Save for later</a>
                <a href="#">Remove</a>
            </div>
            
        </div>  
        <div class="article">
            <img src="images/Auto2.png" alt="IMAGEN PRODUCTO">
            
            <div class="title">
                <h3>Titulo</h3>
                <h4>Descripcion</h4>
                <div class="disponible">
                    <i class="fa-regular fa-square-check" style="color: green;"></i>
                </div>
            </div>            
            
            <div class="botonera">
                <i class="fa-regular fa-square-plus" style="color: #000000;"></i>
                <h4>2</h4>
                <i class="fa-regular fa-square-minus" style="color: #000000;"></i>
            </div>

            <div class="precio">
                <div class="precio_Valor">
                    <h3>4.6</h3>

                </div>
                <a href="#">Save for later</a>
                <a href="#">Remove</a>
            </div>
            
        </div>  
        <div class="article">
            <img src="imagen/Auto2.png" alt="IMAGEN PRODUCTO">
            
            <div class="title">
                <h3>Titulo</h3>
                <h4>Descripcion</h4>
                <div class="disponible">
                    <i class="fa-regular fa-square-check" style="color: green;"></i>
                </div>
            </div>            
            
            <div class="botonera">
                <i class="fa-regular fa-square-plus" style="color: #000000;"></i>
                <h4>2</h4>
                <i class="fa-regular fa-square-minus" style="color: #000000;"></i>
            </div>

            <div class="precio">
                <div class="precio_Valor">
                    <h3>4.6</h3>

                </div>
                <a href="#">Save for later</a>
                <a href="#">Remove</a>
            </div>
            
        </div>  

        <div class="compra">
            <hr color="blue">
            <div class = "resumen">
                <div class="subtotal">
                    <h3>Subtotal:</h3>
                    <h4>2 Items</h4>
                </div>
                <div class="monto">
                    <h4>$6.25<h4>
                </div>
            </div>
            <button type="button">Finalizar Compra</button>
        </div>
    </main>
    <%-include('./partials/footer')%>
</body>
</html>