<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head', {"css": ["header", "detailProducts", "footer"]})%>
<body>
    <%-include('./partials/header')%>
    <main>
        <div class="producto">
            <h2>Nombre Producto</h2>
            <img src="images/Auto2.png" alt="IMAGEN PRODUCTO">
            <div>
                <p>Descripcion</p>
                <p>Precio</p>
                <button type="button">Comprar</button>
            </div>
        </div>
    </main>
    <%-include('./partials/footer')%>
</body>
</html>


