main {
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
}

.superior {
  color: #03045e;
  font-size: medium;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.superior a {
  color: brown;
  font-size: small;
}

.article {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.article img {
  width: 30%;
  padding: 5px;
  object-fit: contain;
}

.title {
  width: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
}

.title h4 {
  color: rgb(69, 68, 78);
}

.botonera {
  padding: 10px;
  width: 15%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.precio {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: center;
}

.precio a {
  font-size: smaller;
}

.precio_valor {
  font-size: medium;
}

.compra {
  width: 60%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  flex-wrap: wrap;
}

.resumen {
  padding: 5px;
  display: flex;
  flex-direction: row;
  /* align-content: center; */
  justify-content: space-around;
  align-items: center;
}
