body {
  background: var(--color--fondo);
  width: 100%;
  margin: auto;
  min-height: 100vh;

  /* Flexbox */
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
}

main {
  padding: 15px;
  text-align: center;
  flex: 1;
}

.producto {
  padding: 15px;
  font-size: large;
  text-align: center;
}

.producto img {
  width: 70%;
  padding: 15px;
  object-fit: contain;
}
