footer {
  background: var(--otro--dos);
  padding: 5px;

  /* Flexbox */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* No estan definidos los liks */
/* 
footer .links {
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
footer .links a {
	flex-grow:1;
	color:#fff;
	padding:10px;
	text-decoration:none;
}

footer .links a:hover {
	background:var(--otro--uno);
} */

footer .social {
  text-decoration: none;
}
footer .social a:hover {
  background-color: var(--otro--uno);
}

footer .social a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}
