
:root{
	--color--uno: #03045E;
	--color--dos: #0077b6;
	--color--tres: #00b4b8;
	--color--cuatro: #90e0ef;
	--color--cinco: #caf0f8;
	--color--fondo: #f5f3f5;
	--otro--uno: #0124a4;
	--otro--dos: #267da0;
	--otro--tres: #a9d6e5;
}

header {
	background:var(--otro--dos);
	width:100%;
	height: 60px;

	/* Flexbox */
	display: flex;
	justify-content:space-around;
	align-items:center;
	flex-wrap:wrap;
	flex-direction:column;
}

header .logo {
	width: 30%;
	color:#fff;
	font-size:30px;
	text-align: center;	
}

header .logo img {
	height: 50px;
	vertical-align: middle;
}

header .logo a {
	display: none;
	color:#fff;
	text-decoration: none;
	/* line-height:50px; */
}

header nav {
	width:70%;
	/* Flexbox */

	display:flex;
	flex-wrap:wrap;
	align-items:center;
}

header nav a {
	/*background:var(--otro--tres);*/
	color: #fff;
	font-size: 1.2rem;
	text-align: center;
	text-decoration: none;

	/* Flexbox */
	flex-grow:1;
}

header nav a:hover {
	background:var(--otro--uno);
}
