body {
  background: var(--color--fondo);
}

.contenedor {
  background: #ccc;
  width: 100%;
  margin: auto;
  min-height: 100vh;

  /* Flexbox */
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
}

main {
  padding: 5px;
  /* display: flex;
	flex-wrap:wrap;
	flex-direction: column; */
  flex: 1;
}

.card {
  padding: 10px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
