<header>
    <div class="logo">
        <img src="/images/LogoT.png" alt="Logo">
        <a href="/">ByTupak</a>
    </div>
    
    <nav>
        <a href="/detailProducts">Detail Product</a>
        <a href="/chart">Carrito</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </nav>
</header>